.image-wrapper {
  height: auto;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  margin-top: 0.5em;
}

.overlay {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #ffffff;
  background: #000000;
  text-align: center;
  transition: all .2s ease-in-out;
}
